*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  font-size: 16px;

  background-color: #fdfbfb;
  color: rgb(68, 68, 68);
}

button{
  outline: none;
  border: inherit;
  background-color: inherit;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.container{
  max-width: 1600px;
  width: 100%;

  margin: 0 auto;
  padding: 0 1rem;
}

.page{
  margin: 1rem 1.2rem;
}
.card{
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.card__header{
  padding: 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card__body{
  padding: 1rem;
}