*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  font-size: clamp(12px, 2vw, 16px);

  background-color: #fdfbfb;
  color: rgb(68, 68, 68);
}
#app{
  --primary: #ea2845;
  --blind-primary: #ea28451b;

  --secondary: #5976d8;
  --blind-secondary: #2a5bfa23;
}

button{
  outline: none;
  border: inherit;
  background-color: inherit;
}
ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}

.q-btn:before{
  box-shadow: none;
}

.container{
  max-width: 1600px;
  width: 100%;

  margin: 0 auto;
  padding: 0 1rem;
}

/* UI */

.page{
  margin: 1rem 1.2rem;
}
.card{
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.scroll-style{
  scrollbar-color:  rgba(0, 0, 0, 0.194) rgba(0,0,0,0);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
.card__header{
  padding: 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card__body{
  padding: 1rem;
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.7rem;
  
  text-transform: capitalize;
}
.banner{
  background-color: var(--blind-primary);
  color: var(--primary);

  font-size: 1.2rem;
  text-align: center;

  padding: 1rem 2rem;
  border-radius: 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.page__banner{
  max-width: 500px;
  margin: 7vh auto;
  height: 80px;
}

.banner_secondary{
  background-color: var(--blind-secondary);
  color: var(--secondary);
}