$primary            : #ea2845
$blind-primary      : #ea28451b


$dark-primary       : #67457A
$background-primary : #9d00ff16


$secondary          : #F5B031
$dark-secondary     : #d78c00
$background-secondary : #ffa7041d

$accent             : #B1F2CF
$dark-accent        : #288051

$positive  : #21BA45
$negative  : #C10015

$info      : #b81cbe
$warning   : #F2C037